* {
    margin: 0;
    padding: 0;
}

nav {
    margin-right: 10px;
}

a {
    margin-right: 5%;
    text-decoration: none;
    margin-top: 15px;
}

a:hover {
    text-decoration: underline;
}
.nav{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-span {
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 700;
    margin-top: 15px;
}

.icon {
    margin-top: 10px;
    margin-right: 15px;

}

.nav-button {
    background-color: #2F2E41;
    color: white;
    border-radius: 5px;
    PADDING: 10px;
    margin-right: 10%;
    margin-left: 10%;
}

.left-box {
    border: 1px solid none;
    position: absolute;
    top: 20%;
    color: white;
    width: 35%;
    margin-left: 20px;
}

.h1-tag {
    font-size: 77px;
}

.p-tag {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    display: inline-grid;
    row-gap: 15px;
    margin-top: 30px;

}

input {
    border: none;
    border-bottom: 1px solid black;
    width: 250px;
    margin-bottom: 10px;
}

.account-page {
    display: grid;
    grid-template-areas:
        'image form'
    ;
    grid-template-columns: 60% 40%;
    height: 100%;
    grid-gap: 20px;
}

/* img {
    width: 100%;
    height: 600px;
} */

.image-cls {
    grid-area: image;
}


.image-cls p {
    margin-left: 20px;
    padding: 10px;
}


.image-cls img {
    height: 812px;
    width: 812px;
}

.form-cls {
    grid-area: form;
    text-align: center;
    padding: 20px 20px;
}

.form-cls h2 {
    margin-top: 30px;
}

.form-cls p,
.form-cls h2 {
    text-align: center;
}


.text-left {
    position: absolute;
    top: 20px;
    left: 10px;
    color: white;
}

.text1-bottom {
    position: absolute;
    bottom: 30%;
    color: white;
}
input{
    padding: 10px 10px;
}

.text2-bottom {
    position: absolute;
    bottom: 20%;
    color: white;
}

.text3-bottom {
    position: absolute;
    bottom: 15%;
    color: white;
}

.Latest-Articles img,
p,
h2 {
    text-align: justify;
}

/* .Latest-Articles{
    margin-left: 10%;
} */
/* for Arrange img and content under that use this like grid */
.images-flexbox {
    float: left;
    width: 25%;
    text-align: justify;
    padding: 20px 20px;
}


.new-Article button {
    width: 22%;
    margin-left: 39%;
    background-color: #2F2E41;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
}

/* .Tech-updates{
    margin-left: 10%;
} */
footer {
    /* margin-left: 12%; */
    text-align: center;
    background-color: #F3F2FF;
    margin-top: 20px;
    padding: 20px 20px;
}

.icon-container {
    text-align: center;
}
li{
    text-align:start;
}
#share {
    height: 10px;
}
#profile_icon{
    width: 5%;
    height: 20%;
}
.share {
    display: flex;
    width: 10%;
    padding: 20px 10px;
}
.header{
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.article{
    justify-content:space-around;
}
